* {
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    /* background-image: url(/images/berlinbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
}
/* ---------------------------------------------------------------------------*/
/* ------------------------HEADER AND ITS ELEMENTS----------------------------*/
/* ---------------------------------------------------------------------------*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f24;
}
img.logo-header {
    display: block;
    max-width:430px;
    max-height:80px;
    width: auto;
    height: auto;
}

h1, h2, h3, h4, p, form, input, textarea, button {
font-family: 'Oswald';
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* ---------------------------------------------------------------------------*/
/* ----------------------MAIN BODY AND ITS ELEMENTS---------------------------*/
/* ---------------------------------------------------------------------------*/
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1f1f24;
}
div.image-block {
    height: 30vh;
    flex-grow: 1;
}
div.image-tile-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transform: translateY(-50px);
    color: #1f1f24;
    /* opacity: 80%; */
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    border-right: 30px solid #E23525;
    border-left: 30px solid #E23525;
}

img.image-on-home {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

h3.image-title {
    text-transform: uppercase;
}
div.end-of-stream {
    text-align: center;
    width: 100%;
    background-color: rgba(226, 53, 37);
    color: white;
}
/* -------------------------IMAGE MODAL STYLING------------------------------*/
div.image-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255,.99);
    z-index: 2;
}
div.close-modal {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}
/* -------------------------IMAGE DIV INSIDE MODAL------------------------------*/
div.image-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
div.image-with-buttons {
    display: flex;
    flex-direction: row;
}
h1.title-modal {
    margin-top: 20px;
    text-transform: uppercase;
    margin-left: 40px;
    text-align: center;
}
h3.username-modal {
    text-transform: uppercase;
    margin-left: 40px;
    text-align: center;
}
p.description-modal {
    padding: 10px;
    margin-left: 40px;
    width: 500px;
}
img.image-in-image-modal {
    margin-top: 20px;
    width: 80vh;
    height: 500px;
    object-fit: cover;
    position: relative;
}
div.next-photo {
    margin-top: 20px;
    height: 500px;
    cursor: pointer;
    background-color: rgba(255, 255, 255,.10);
    width: 40px;
    transform: translateX(-40px);
}
div.right-arrow {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left:40px solid #E23525;
    margin-top: 200px;
}
div.previous-photo {
    margin-top: 20px;
    z-index: 1;
    height: 500px;
    cursor: pointer;
    background-color: rgba(255, 255, 255,.10);
    width: 40px;
    transform: translateX(40px);
}
div.left-arrow {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right:40px solid #E23525;
    margin-top: 200px;
}
/* -------------------------COMMENTS IN MODAL STYLING-------------------------*/
div.comments-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
div.add-comment-container {
    margin-top: 20px;
    width: 500px;
}

div.view-comment-container {
    width: 500px;
    overflow: auto;
    height: 600px;
}
div.comments-block {
    margin-top: 5px;
    margin-bottom: 5px;
}
span.username {
    font-weight: bold;
    padding-right: 5px;
    text-transform: uppercase;
}
p.each-comment {
    border-bottom: 1px dotted red;
}
form.comments-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
input.username-input {
    font-size: 16px;
    width: 150px;
    border: 0;
    border-bottom: 2px solid #eb0b0b;
    border-right: 2px solid #eb0b0b;
    outline: 0;
    color: $white;
    padding: 7px 0;
    background: transparent;
    margin-right: 5px;
}
input.comment-input {
    font-size: 16px;
    width: 346px;
    border: 0;
    border-bottom: 2px solid #eb0b0b;
    border-left: 2px solid #eb0b0b;
    outline: 0;
    color: $white;
    padding: 7px 0;
    background: transparent;
}
button.comment-submit {
    background-color:#eb0b0b;
    color: white;
    float: right;
    margin-top: 5px;
    margin-right: 1px;
}
.view-comment-container::-webkit-scrollbar {
    width: 12px;
}

.view-comment-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.view-comment-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* -------------------------UPLOAD FORM STYLING------------------------------*/
div.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    margin-bottom: 65px;
    padding-top: 20px;
    width: 350px;
    height: 400px;
    background-color: white ;
    -webkit-box-shadow: -82px -68px 300px 94px rgba(226, 53, 37,0.75);
    -moz-box-shadow: -82px -68px 300px 94px rgba(226, 53, 37,0.75);
    box-shadow: -82px -68px 300px 94px rgba(226, 53, 37,0.75);
    z-index: 1;
    border-radius: 12px;
    /* visibility: hidden; */
}
form.image-upload {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
button.image-submit {
    background-color:#eb0b0b;
    color: white;
    float: right;
    margin-top: 5px;
}
div.field {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
label.image-upload {
    border-bottom: 2px solid #eb0b0b;
}
input.image-upload {
    margin-left: 5px;
    font-size: 16px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #eb0b0b;
    outline: 0;
    color: $white;
    /* padding: 7px 0; */
    background: transparent;
}
img.reveal-form {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 0;
    right: 140px;
    margin: 10px;
    z-index: 1;
    cursor: pointer;
}
img.reveal-form:hover {
    transform: rotate(45deg);
}
p.error {
    color: #eb0b0b;
    font-size: 12px;
}

/* ---------------------------------------------------------------------------*/
/* -----------------------FOOTER AND  ITS ELEMENTS----------------------------*/
/* ---------------------------------------------------------------------------*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
