* {
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    /* background-image: url(/images/berlinbackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
}
/* ---------------------------------------------------------------------------*/
/* ------------------------HEADER AND ITS ELEMENTS----------------------------*/
/* ---------------------------------------------------------------------------*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1, h2, h3, h4, p, form, input {
font-family: 'Oswald';
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}
h3 {
    text-align: center;
}

div.divider {
    width: 30%;
    height: 10px;
    background-color: #E23525;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* ---------------------------------------------------------------------------*/
/* ----------------------MAIN BODY AND ITS ELEMENTS---------------------------*/
/* ---------------------------------------------------------------------------*/
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
div.image-block {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(226, 53, 37,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(226, 53, 37,0.75);
    box-shadow: 0px 0px 5px 0px rgba(226, 53, 37,0.75);
    margin: 20px;
    padding: 20px;
}
div.image-block:hover {
    background-color:rgba(226, 53, 37);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    color: white;
    transform: scale();
}
img.image-on-home {
    width: 400px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}
div.end-of-stream {
    text-align: center;
    width: 100%;
    background-color: rgba(226, 53, 37);
    color: white;
}
/* -------------------------IMAGE MODAL STYLING------------------------------*/
div.image-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: wheat;
}
div.close-modal {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}
/* -------------------------IMAGE DIV INSIDE MODAL------------------------------*/
div.image-details {
    display: flex;
    flex-direction: column;
}
div.image-with-buttons {
    display: flex;
    flex-direction: row;
}
img.image-in-image-modal {
    width: 500px;
    height: 500px;
    object-fit: cover;
    position: relative;
}
div.next-photo {
    height: 500px;
    cursor: pointer;
    background-color: rgba(226, 53, 37,0.75);
    width: 40px;
    transform: translateX(-40px);
}
div.right-arrow {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left:40px solid blue;
    margin-top: 200px;
}
div.previous-photo {
    z-index: 1;
    height: 500px;
    cursor: pointer;
    background-color: rgba(226, 53, 37,0.75);
    width: 40px;
    transform: translateX(40px);
}
div.left-arrow {
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right:40px solid blue;
    margin-top: 200px;
}
/* -------------------------COMMENTS IN MODAL STYLING-------------------------*/
div.comments-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
div.add-comment-container {
    width: 500px;
}

div.view-comment-container {
    width: 500px;
    overflow: auto;
    height: 600px;
}
div.comments-block {
    padding-top: 20px;
    border-bottom: 1px solid black;
}
span.username {
    font-weight: bold;
    padding-right: 10px;
}
p.each-comment {

}
.view-comment-container::-webkit-scrollbar {
    width: 12px;
}

.view-comment-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.view-comment-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* -------------------------UPLOAD FORM STYLING------------------------------*/
div.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    margin-bottom: 65px;
    padding-top: 20px;
    width: 350px;
    height: 400px;
    background-color: white ;
    -webkit-box-shadow: -82px -68px 300px 94px rgba(226, 53, 37,0.75);
    -moz-box-shadow: -82px -68px 300px 94px rgba(226, 53, 37,0.75);
    box-shadow: -82px -68px 300px 94px rgba(226, 53, 37,0.75);
    visibility: hidden;
}
form.image-upload {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

div.field {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
label.image-upload {
    border-bottom: 2px solid #eb0b0b;
}
input.image-upload {
    margin-left: 5px;
    font-size: 16px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #eb0b0b;
    outline: 0;
    color: $white;
    /* padding: 7px 0; */
    background: transparent;
}
button.reveal-form {
    background-color: yellow;
    height: 50px;
    width: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    visibility: hidden;
}
/* ---------------------------------------------------------------------------*/
/* -----------------------FOOTER AND  ITS ELEMENTS----------------------------*/
/* ---------------------------------------------------------------------------*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
